@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<code>
@ViewBag.debug
<code>

<p>User name: @ViewBag.username</p>
<p>Authenticated?: @ViewBag.isauthed</p>

<p>Use this area to provide additional information.</p>
